<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Victor Hugo Laynez">
		<meta name="generator" content="sublime text">
		<meta name="description" content="Exemplo de app para controle de gastos">
		<meta name="application-name" content="Gerenciador de Gastos">

		<title>Gerenciador de Gastos</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>

		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		 <link href="css/style.css" rel="stylesheet"> 
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand"> Gerenciador de Gastos</span>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li></span><a href="/"><strong>Home</strong> </a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<% if(gastos.length>0){ %>
				<table class="table table-striped table-bordered table-condensed  table-hover">
					<thead>
						<tr style="text-align: center;">
							<td><h3><strong>Data </strong><span class="glyphicon glyphicon-calendar" style="color: black;"></span></h3></td>
							<td><h3><strong>Lugar</strong></h3></td>
							<td><h3><strong>Valor</strong></h3></td>
						</tr>
					</thead>
					<tbody>
						<% 	var dataArray = [ ['Lugar', 'Valor'], ];
                            var soma =0;
							for (var i=0; i < gastos.length; i++) {
                            dataArray.push([gastos[i].lugar, gastos[i].valor]);
							soma = soma + gastos[i].valor;
						%>
							<tr style="text-align: center;" onclick="window.location='gasto?id_gasto=<%= gastos[i].id_gasto %>';">
								<td><h4><%=moment(gastos[i].data_gasto).format(data) %></h4></td>
								<td class="lugar"><h4><%=gastos[i].lugar %></h4></td>
								<td><h4>R$<%=gastos[i].valor %></h4></td>	
							</tr>
						<% } %>
					</tbody>
				</table>
				<div class="well well-lg">
					<h3 style="text-align: center;"><strong>Total: R$<%= soma;%></strong></h3>
				</div>
			<% } %>
			<div class="col-md-12">	
				<div id="piechart" style="width: 100%; min-height: 450px;" ></div>
			</div>
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		
		<script type="text/javascript">
					 
			google.charts.load('current', {'packages':['corechart']});
	      	google.charts.setOnLoadCallback(drawChart);

	      	function drawChart() {

		        var data = google.visualization.arrayToDataTable(<%- JSON.stringify(dataArray) %>);

		        var options = {
		          title: 'Meus gastos',
		          is3D:true,
		        };

		        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
				chart.draw(data, options);
	      	}
    	</script>
	</body>
</html>

